:root {
    --content-width: 800px;
    --border-radius: 8px;
    --blur-radius: 4px;
    --spacing-sm: 4px;
    --spacing-md: 8px;
    --spacing-lg: 16px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
}

body {
    color: #fff;
    background-image: url('./images/colombia_cover.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-color: #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;
}

nav {
    font-size: 1.2em;

    & ul {
        list-style-type: none;

        margin: 0;
        padding: 0;

        display: flex;
        justify-content: space-around;
        gap: 10px;

        & a {
            color: #fff;
            text-decoration: none;
        }

        & a:hover {
            text-decoration: underline wavy;
        }
    }

    & .active {
        font-weight: bold;
    }
}

main {
    max-width: 640px;
}

section {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(var(--blur-radius));

    padding: var(--spacing-lg);

    @media (min-width: 768px) {
        border-radius: var(--border-radius);
    }
}

footer {
    & h1 {
        font-size: 1.5em;
    }
}

.hello, .name {
    & img {
        height: 50px;
    }
}