<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

    <meta charset="UTF-8">

    <title>Damien Allen</title>

    <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,300" type="text/css">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/base.min.css' %}" type="text/css" />

</head>

<body>

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Damien Allen</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#work">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#education">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">

        <section id="home" class="uk-width-1-1" hidden>
            <div class="uk-cover-background uk-height-viewport cover uk-animation-fade uk-animation-5">
                <img class="uk-invisible" src="/static/img/colombia_cover.jpg" width="2560" height="1714" alt="">
                <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle">
                    <div class="uk-text-center cover-box">
                        <span class="cover-name">damien allen</span><br><br>
                        <span class="cover-sub">water resource engineer | python developer | beer brewer</span>
                    </div>
                </div>
            </div>
        </section>

        <section id="about">
            <div class="container">
                <h1>about</h1>
                <hr><br>
                <p>
                    Hello!
                </p>
                <p>
                    I am an American living in the Netherlands for the past 4 years. I am a backend
                    software developer enabling mobile app-based measurements of water and
                    utility infrastructure. My educational background is in water resources,
                    hydrology and remote sensing.
                </p>
                <p>
                    I am also a craft beer fan and an avid supporter of the local beer scene. I make
                    an effort to try new beers and seek out new breweries whenever possible. I've been
                    actively brewing ales of my own at home since 2012.
                </p>
            </div>

        </section>

        <section id="work">
            <div class="container">
                <h1>work</h1>
                <hr><br>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="/static/img/mwm-logo.jpg" alt="Mobile Water Management">
                    </div>
                    <div class="col-sm-6">
                        <h3>Backend Python Developer</h3>
                        <em>Aug. 2016 - present</em><br>
                        Mobile Water Management BV<br><br>
                        - Server infrastructure design<br>
                        - Two-way communication with mobile apps<br>
                        - Feature development and integration<br>
                        - Providing and interfacing with REST APIs<br>
                        - Devops
                    </div>
                </div>
                <div class="row edu-list">
                    <div class="col-sm-6">
                        <img src="/static/img/kk-logo.jpg" alt="De Koperen Kat">
                    </div>
                    <div class="col-sm-6">
                        <h3>Brewery Volunteer</h3>
                        <em>Nov. 2015 - present</em><br>
                        Delftse Stadsbrouwerij De Koperen Kat<br><br>
                        Occasionally assisting the operations of a local craft brewery.
                    </div>
                </div>
                <div class="row edu-list">
                    <div class="col-sm-6">
                        <img src="/static/img/akvo-logo.jpg" alt="Akvo">
                    </div>
                    <div class="col-sm-6">
                        <h3>Django Developer Intern</h3>
                        <em>Apr. 2016 - Jul. 2016</em><br>
                        Akvo Foundation<br><br>
                        Internship which assisted with development of Akvo RSR.
                    </div>
                </div>
                <div class="row edu-list">
                    <div class="col-sm-6">
                        <img src="/static/img/cu-logo.jpg" alt="Akvo">
                    </div>
                    <div class="col-sm-6">
                        <h3>IT Systems Administrator</h3>
                        <em>Feb. 2009 - Mar. 2012</em><br>
                        University of Colorado at Boulder<br><br>
                        - Managed computers in numerous on-campus labs<br>
                        - Network deployment of software and operating systems<br>
                        - Diagnosed and repaired software and hardware issues
                    </div>
                </div>
            </div>
        </section>

        <section id="education">
            <div class="container">
                <h1>education</h1>
                <hr><br>
                <div class="row edu-list">
                    <div class="col-sm-6">
                        <img src="/static/img/tu-logo.jpg" alt="TU Delft">
                    </div>
                    <div class="col-sm-6">
                        <h3>M.Sc. in Civil Engineering</h3>
                        <em>2012-2015</em><br>
                        Delft University of Technology<br>
                        Department of Water Management<br><br>
                        Specialization in Remote Sensing Hydrology<br>
                        Thesis on land use classification <a href=""><i class="uk-icon-download"></i></a>
                    </div>
                </div>
                <div class="row edu-list">
                    <div class="col-sm-6">
                        <img src="/static/img/cu-logo.jpg" alt="CU Boulder">
                    </div>
                    <div class="col-sm-6">
                        <h3>B.Sc. in Environmental Engineering</h3>
                        <em>2008-2012</em><br>
                        University of Colorado at Boulder<br>
                        Specialization in Water Resources
                    </div>
                </div>
                <div class="row edu-list">
                    <div class="col-sm-6">
                        <img src="/static/img/sas-logo.jpg" alt="Semester at Sea">
                    </div>
                    <div class="col-sm-6">
                        <h3>Semester at Sea</h3>
                        <em>Fall 2010</em><br>
                        Non-conventional study-abroad program<br>
                        12 countries across
                        <span class="dotted" data-uk-tooltip title="Canada & United States">N. America</span>,
                        <span class="dotted" data-uk-tooltip title="Spain">Europe</span>,
                        <span class="dotted" data-uk-tooltip title="Morocco, Ghana, South Africa & Mauritius">Africa</span> &
                        <span class="dotted" data-uk-tooltip title="India, Singapore, Vietnam, China & Japan">Asia</span>
                    </div>
                </div>
            </div>
        </section>

        <section id="skills">
            <div class="container">
                <h1>skills</h1>
                <hr><br>
                <div class="row skills-list">
                    <div class="uk-width-large-1-4 col-sm-6">
                        <h3>Coding & Computation</h3>
                        <ul class="uk-list">
                            <li>Python</li>
                            <li>MATLAB</li>
                            <li>C++</li>
                            <li>Java</li>
                            <li>Arduino</li>
                        </ul>
                    </div>
                    <div class="uk-width-large-1-4 col-sm-6">
                        <h3>Hydrology & GIS</h3>
                        <ul class="uk-list">
                            <li>Hydrological modeling</li>
                            <li>Sobek (2D)</li>
                            <li>EPANET</li>
                            <li>GRASS GIS</li>
                            <li>QGIS</li>
                        </ul>
                    </div>
                    <div class="uk-width-large-1-4 col-sm-6">
                        <h3>Web & Publishing</h3>
                        <ul class="uk-list">
                            <li>HTML5 & CSS</li>
                            <li>Django (Python)</li>
                            <li>jQuery (JS)</li>
                            <li>PostgreSQL, MySQL & MSSQL</li>
                            <li>Adobe InDesign</li>
                            <li>Adobe Photoshop</li>
                        </ul>
                    </div>
                    <div class="uk-width-large-1-4 col-sm-6">
                        <h3>Language</h3>
                        <ul class="uk-list">
                            <li>English (native)</li>
                            <li>Dutch (intermediate)</li>
                            <li>French (basic)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact">
            <div class="container">
                <h1>contact</h1>
                <hr><br>
                <form class="uk-form" action="/contact/" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="uk-form-row uk-grid">
                        <div class="uk-width-1-2">{{ form.name.errors }}{{ form.name }}</div>
                        <div class="uk-width-1-2">{{ form.email.errors }}{{ form.email }}</div>
                    </div>

                    <div class="uk-form-row">{{ form.subject.errors }}{{ form.subject }}</div>
                    <div class="uk-form-row">{{ form.message.errors }}{{ form.message }}</div>
                    <div class="uk-form-row"><div class="g-recaptcha" data-sitekey="6LdSAwoUAAAAANSnCwZTzzntVxH3NuN_XqGDpaZn"></div></div>
                    <br>
                    <button class="uk-button uk-button-primary uk-button-large" type="submit">send</button>
                </form>
            </div>
        </section>

    </main>

    <footer id="footer">
        <div class="footer-cover" style="height: 500px">
            <img class="uk-invisible" src="/static/img/colombia_footer.jpg" width="2560" height="650" alt="">
        </div>
    </footer>


    <!-- Bootstrap and jQuery scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Codemirror and marked dependencies -->
    <link rel="stylesheet" href="/static/css/codemirror.min.css">
    <script src="{% static 'js/codemirror.min.js' %}"></script>
    <script src="{% static 'js/markdown.min.js' %}"></script>
    <script src="{% static 'js/overlay.min.js' %}"></script>
    <script src="{% static 'js/xml.min.js' %}"></script>
    <script src="{% static 'js/gfm.min.js' %}"></script>
    <script src="{% static 'js/marked.min.js' %}"></script>
    <script src="{% static 'js/base.min.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>

</body>

</html>