<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

    <meta charset="UTF-8">

    <title>Damien Allen</title>

    <!-- Fonts & icons -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i|Open+Sans" rel="stylesheet">
    <script defer src="{% static 'js/font-awesome.js' %}"></script>

    <!-- Stylesheets -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/trumbowyg.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/base.min.css' %}" type="text/css" />


    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#f76767">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#f76767">
    <meta name="msapplication-config" content="{% static 'img/favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#343a40">



</head>

<body data-spy="scroll" data-target="#navbar-content" data-offset="120">

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="navbar-content">
        <span class="navbar-brand">DAMIEN<br>ALLEN</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-links">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#about">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#work">work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education">education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-icons">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/damienaallen/"><i class="fab fa-linkedin"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/damienallen/"><i class="fab fa-github-square"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="cover">
    <div class="cover-fill"></div>
</div>

<main class="container">

    <section id="about">
        <div class="about-content">
            <div class="hello">
                <img src="{% static 'img/hello.png' %}" alt="Hello!">
            </div>
            <p>
                I am a software developer working in the water sector on app-based solutions for measuring water
                levels, rainfall, and drinking water consumption. My background is in water resources,
                hydrology and remote sensing.
            </p>
            <p>
                I also like to grow chilies, brew beer, and throw pottery.
            </p>
            <div class="name">
                <img src="{% static 'img/damien.png' %}" alt="- Damien">
            </div>
        </div>

        <div class="down-arrow">
            <i class="fas fa-angle-double-down"></i>
        </div>
    </section>

    <section id="work" class="generic-section">
        <h1>work</h1>
        <hr><br>
        <div class="row work-list">
            <div class="col-sm-5">
                <img src="{% static 'img/mwm-logo.jpg' %}" class="img-fluid" alt="Mobile Water Management">
            </div>
            <div class="col-sm-7">
                <h2>Software & Product Developer</h2>
                <h3>Mobile Water Management BV</h3>
                <div class="duration">Aug. 2016 - present</div>
                <div class="details">
                    <h4>Responsibilities</h4>
                    <ul>
                        <li>Leading 3-person development team</li>
                        <li>Full-stack development</li>
                        <li>Cross-platform mobile development</li>
                        <li>Technical infrastructure design</li>
                        <li>APIs for apps & external interfaces</li>
                        <li>Feature planning & development</li>
                        <li>Devops & continuous integration</li>
                        <li>UI/UX design</li>
                    </ul>
                    <h4>Stack</h4>
                    <ul>
                        <li>Django (Python)</li>
                        <li>PostgreSQL</li>
                        <li>Ionic (Angular/Javascript)</li>
                        <li>REST</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row work-list">
            <div class="col-sm-5">
                <img src="{% static 'img/akvo-logo.jpg' %}" class="img-fluid" alt="Akvo">
            </div>
            <div class="col-sm-7">
                <h2>Django Developer Intern</h2>
                <h3>Akvo Foundation</h3>
                <div class="duration">Apr. 2016 - Jul. 2016</div>
                <div class="details">
                    <h4>Responsibilities</h4>
                    <ul>
                        <li>Assist in development of Akvo RSR</li>
                        <li>Code review & testing</li>
                    </ul>
                    <h4>Stack</h4>
                    <ul>
                        <li>Django (Python)</li>
                        <li>PostgreSQL</li>
                        <li>Javascript</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row work-list">
            <div class="col-sm-5">
                <img src="{% static 'img/kk-logo.jpg' %}" class="img-fluid" alt="De Koperen Kat">
            </div>
            <div class="col-sm-7">
                <h2>Brewery Volunteer</h2>
                <h3>Stadsbrouwerij De Koperen Kat</h3>
                <div class="duration">2015 - 2016</div>
                <div class="details">
                    <h4>Responsibilities</h4>
                    <ul>
                        <li>Assisting head-brewer</li>
                        <li>Bottle filling & labeling</li>
                        <li>Bartending in the taproom</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row work-list">
            <div class="col-sm-5">
                <img src="{% static 'img/cu-logo.jpg' %}" class="img-fluid" alt="Akvo">
            </div>
            <div class="col-sm-7">
                <h2>IT Systems Administrator</h2>
                <h3>University of Colorado at Boulder</h3>
                <div class="duration">Feb. 2009 - Mar. 2012</div>
                <div class="details">
                    <h4>Responsibilities</h4>
                    <ul>
                        <li>Managing on-campus computer labs</li>
                        <li>Network deployment of software</li>
                        <li>Diagnosing & repairing software issues</li>
                        <li>Maintaining high uptime standards</li>
                    </ul>
                    <h4>Platforms</h4>
                    <ul>
                        <li>Windows</li>
                        <li>MacOS</li>
                        <li>Linux</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="education" class="generic-section">
        <h1>education</h1>
        <hr><br>
        <div class="row edu-list">
            <div class="col-sm-5">
                <img src="{% static 'img/tu-logo.jpg' %}" class="img-fluid" alt="TU Delft">
            </div>
            <div class="col-sm-7">
                <h2>M.Sc. in Civil Engineering</h2>
                <h3>Delft University of Technology</h3>
                <div class="duration">2012-2015</div>
                <div class="details">
                    Department of Water Management<br>
                    Specialization in Remote Sensing Hydrology<br><br>
                    <i>Thesis on land use classification</i> <a href="{% static 'doc/damien_allen_msc_thesis_report.pdf' %}"><i class="fas fa-file-download"></i></a>
                </div>
            </div>
        </div>
        <div class="row edu-list">
            <div class="col-sm-5">
                <img src="{% static 'img/cu-logo.jpg' %}" class="img-fluid" alt="CU Boulder">
            </div>
            <div class="col-sm-7">
                <h2>B.Sc. in Environmental Engineering</h2>
                <h3>University of Colorado at Boulder</h3>
                <div class="duration">2008-2012</div>
                <div class="details">
                    Specialization in Water Resources
                </div>
            </div>
        </div>
        <div class="row edu-list">
            <div class="col-sm-5">
                <img src="{% static 'img/sas-logo.jpg' %}" class="img-fluid" alt="Semester at Sea">
            </div>
            <div class="col-sm-7">
                <h2>Study Abroad</h2>
                <h3>Semester at Sea</h3>
                <div class="duration">Fall 2010</div>
                <div class="details">
                    Non-conventional study-abroad program across 12 countries in
                    <span class="dotted" data-toggle="tooltip" data-placement="top" title="Canada & United States">N. America</span>,
                    <span class="dotted" data-toggle="tooltip" data-placement="top" title="Spain">Europe</span>,
                    <span class="dotted" data-toggle="tooltip" data-placement="top" title="Morocco, Ghana, South Africa & Mauritius">Africa</span> &
                    <span class="dotted" data-toggle="tooltip" data-placement="top" title="India, Singapore, Vietnam, China & Japan">Asia</span>
                </div>
            </div>
        </div>
    </section>

    <section id="skills" class="generic-section">
        <h1>skills</h1>
        <hr><br>
        <div class="row skills-list">
            <div class="col-lg-3 col-sm-6">
                <h4>Programming</h4>
                <ul>
                    <li>Python</li>
                    <li>Javascript</li>
                    <li>MATLAB</li>
                    <li>C++</li>
                    <li>Git</li>
                    <li>Agile</li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h4>Hydrology & GIS</h4>
                <ul>
                    <li>Hydrological modeling</li>
                    <li>GRASS GIS</li>
                    <li>QGIS</li>
                    <li>Sobek (2D)</li>
                    <li>EPANET</li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h4>Web & Publishing</h4>
                <ul>
                    <li>HTML5 & (S)CSS</li>
                    <li>Django (Python)</li>
                    <li>Angular (JS)</li>
                    <li>Adobe Photoshop</li>
                    <li>Adobe Illustrator</li>
                    <li>Adobe InDesign</li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h4>Language</h4>
                <ul>
                    <li>English (native)</li>
                    <li>Dutch (intermediate)</li>
                    <li>French (basic)</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="contact" class="generic-section">
        <h1>contact</h1>
        <hr><br>
        <form id="contact-form" action="/contact/" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                <div class="form-field col-sm-6">{{ form.name.errors }}{{ form.name }}</div>
                <div class="form-field col-sm-6">{{ form.email.errors }}{{ form.email }}</div>
            </div>

            <div class="row">
                <div class="form-field col-12">{{ form.subject.errors }}{{ form.subject }}</div>
            </div>
            <div class="row">
                <div class="form-field col-12">{{ form.message.errors }}{{ form.message }}</div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="g-recaptcha" data-sitekey="6LdSAwoUAAAAANSnCwZTzzntVxH3NuN_XqGDpaZn"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button id="submit-button" class="form-control" type="submit">Send</button>
                </div>
            </div>
        </form>
    </section>

</main>

<footer id="footer">
    <img src="{% static 'img/tatra_footer.jpg' %}" alt="Footer graphic: Tatra Mountains, Poland">
</footer>

<!-- Bootstrap and jQuery scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- JS dependencies -->
<script src="{% static 'js/trumbowyg.min.js' %}"></script>
<script src="{% static 'js/js.cookie.min.js' %}"></script>
<script src="{% static 'js/base.min.js' %}"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>

</body>

</html>