# See https://caddyserver.com/docs

develop.dallen.co, develop.damienallen.com {
  tls off
  bind {$ADDRESS}

  # Serves static files, should be the same as `STATIC_ROOT` setting:
  root /code/dist

  # Serving dynamic requests:
  # proxy / web:8000 {
  #   except /static /media
  #   transparent
  # }

  # Allows to use `.gz` files when available:
  gzip

  # Logs:
  log stdout
  errors stdout
}
