# See https://caddyserver.com/docs

# www.{$DOMAIN_PROD} {
#   redir https://{$DOMAIN_PROD}{uri}
# }

{$DOMAIN_MASTER}, {$DOMAIN_DEVELOP} {
  tls {$TLS_EMAIL}

  header / Strict-Transport-Security "max-age=31536000;"
  header / -Server

  # Serves static files, should be the same as `STATIC_ROOT` setting:
  root /dist

  # Serving dynamic requests:
  proxy / website_flask:8080 {
    transparent
  }

  # Allows to use `.gz` files when available:
  gzip

  # Logs:
  log stdout
  errors stdout
}
