/* variables */
/* navigation styling */
.navbar {
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000; }
  .navbar .navbar-brand {
    text-align: center;
    font-size: 0.9em;
    font-weight: 600;
    line-height: 1em;
    color: #ff1f4f;
    padding: 0 !important; }
  .navbar .nav-icons {
    font-size: 1.5em; }
    .navbar .nav-icons .nav-link {
      margin: 0 !important;
      padding: 0 10px !important; }

/* cover styling */
@media (max-width: 768px) {
  .cover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("../img/colombia_cover.jpg") !important; } }

.cover {
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../img/colombia_cover.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover; }
  .cover .cover-fill {
    height: 100%;
    width: 100%;
    background-color: #fff;
    animation-name: fadeOut;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* section styling */
.generic-section {
  background: #fff;
  padding: 20px; }
  .generic-section h1 {
    font-size: 2em;
    font-weight: 200; }

/* about styling */
@media (max-width: 768px) {
  #about .about-content {
    padding-top: 20vh !important;
    font-size: 1.1em !important; }
  #about .down-arrow {
    margin-top: 0 !important; } }

#about {
  position: relative;
  height: 100vh;
  margin-bottom: 40px; }
  #about .about-content {
    color: #fff;
    font-size: 1.2em;
    text-align: justify;
    padding-top: 50vh; }
  #about .down-arrow {
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 2em;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 0; }

/* work & education styling */
#work {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2); }

.edu-list img, .work-list img {
  width: 250px; }

.edu-list div, .work-list div {
  margin-bottom: 40px;
  font-size: 0.9em; }

.edu-list em, .work-list em {
  color: #d05; }

.edu-list h3, .work-list h3 {
  font-size: 18px;
  line-height: 24px; }

/* skills styling */
.skills-list div {
  margin-bottom: 20px; }

.skills-list ul {
  padding: 0;
  list-style: none;
  font-size: 0.9em; }

.skills-list h4 {
  font-size: 0.8em;
  line-height: 24px;
  margin-bottom: 20px;
  color: #5f5f5f;
  font-style: italic; }

.dotted {
  border-bottom: 1px dotted #999;
  text-decoration: none; }

/* contact form styling */
#contact-form .row {
  margin-bottom: 20px; }

/* footer styling */
#footer {
  margin: 20px 0 0 0; }
  #footer img {
    width: 100%; }
