/*--[ variables  ]--*/

$mobile-breakpoint: 768px;
$logo-width: 200px;
$navbar-height: 50px;

$cover-url-2400: url('../images/colombia_cover.jpg?size=2400');
$cover-url-1200: url('../images/colombia_cover.jpg?size=1200');
$cover-url-860: url('../images/colombia_cover.jpg?size=860');


/*--[ fonts & text styling ]--*/

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5b {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 1.8em;
  font-weight: 300;
  margin: 10px 0;
  color: #707579;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
}

h3 {
  font-size: 0.9em;
  margin-bottom: 5px;
}

h4 {
  font-size: 0.8em;
  line-height: 24px;
  color: #999c9f;
  font-style: italic;
  margin: 0 0 10px 0;
  font-weight: 300;
}


hr {
  margin-top: 10px 0;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.2);
}

/*--[ navigation styling  ]--*/

#navbar {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: rgba(52, 58, 64, 0);
  z-index: 100;
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  user-select: none;

  &.open {
    #navbar-links {
      display: block !important;
    }
  }

  #navbar-links {
    flex: 1 1;
    padding-left: 15px;
    line-height: $navbar-height;

    @media (max-width: $mobile-breakpoint) {
      width: 100vw;
      height: 100%;
      z-index: 50;
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      padding: $navbar-height 0 0 0;
      font-size: 1.4em;

      .links-container {
        background: #484d53;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      ul {
        flex-direction: column;
        padding-bottom: $navbar-height;

        li {
          margin: 10px 0;
        }
      }

    }

    ul {
      margin: 0;
    }

  }

  .nav-item {
    text-align: center;
    flex: 0 1;
    padding: 0 15px;

    a {
      color: rgba(255,255,255,0.5);
      text-decoration: none;

    &.active {
            color: #fff;
        }
    }

    a:hover, a:active {
      color: #fff;
    }
  }

  .nav-name {
    flex: 1;
    font-size: 1.1em;
    line-height: $navbar-height;
    color: #fff;
    padding: 0 0 0 15px;
    cursor: default;

    @media (min-width: $mobile-breakpoint) {
      padding: 0 24px 0 0;
      text-align: right;
      border-right: 1px solid rgba(255,255,255,.1);
    }
  }

  .nav-icons {
    flex: 0 1;
    margin: 0;
    padding: 0 14px;

    @media (max-width: $mobile-breakpoint) {
      margin-right: 30px;
    }

    a {
      font-size: 1.2em;
      color: rgba(255,255,255,0.5);
      line-height: $navbar-height;
    }

    a:hover, a:active {
      color: #fff;
    }

    svg {
      width: 18px;
      height: 18px;
    }
    
    .nav-link {
      margin: 0;
      padding: 0 10px;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  #nav-toggle {
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 100;
    display: none;
    cursor: pointer;
    color: #fff;

    #nav-close {
        display: none;
    }

    @media (max-width: $mobile-breakpoint) {
      display: block;
    }

  }

}


/*--[ cover styling  ]--*/

.cover {
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;

  @media (max-width: $mobile-breakpoint) {
    padding-bottom: 100px;
  }

  .cover-fill {
    height: 100%;
    width: 100%;

    background-color: #fff;

    animation-name: fadeOut;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-color: #000;
  background-image: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0.4),
                    rgba(0, 0, 0, 0.4)
    ), $cover-url-860;

  @media (min-width: $mobile-breakpoint) {
    background-image: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0.4),
                    rgba(0, 0, 0, 0.4)
    ), $cover-url-1200;
  }

  @media (min-width: 1200px) {
    background-image: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0.2),
                  rgba(0, 0, 0, 0.4)
    ), $cover-url-2400;
  }

}


@keyframes fadeOut {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}


/*--[ section styling  ]--*/

.section {
  background: #fff;
  padding: 10px 20px 20px 20px;
}


/*--[ about styling  ]--*/

#about {
  position: relative;
  height: 100vh;
  margin-bottom: 40px;

  .about-content {
    color: #fff;
    line-height: 1.8em;
    text-align: justify;
    padding: 30vh 100px 0 100px;

    @media (max-width: 767px) {
      padding-top: 80px !important;
    }

    .hello {
      display: inline-block;
      margin-bottom: 10px;

      img {
        width: 100px;
        margin-left: -10px;
      }

    }

    .name {
      display: inline-block;
      margin-top: 25px;

      img {
        width: 150px;
        margin-left: 50px;
      }

    }

  }

  .down-arrow {
    text-align: center;
    width: 100%;
    font-size: 2em;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 0;

    @media (max-width: ($mobile-breakpoint - 1)) {
      display: none;
    }

    svg {
      color: #fff !important;
      height: 40px;
      width: 40px;
    }

  }

  @media (max-width: $mobile-breakpoint) {

    .about-content {
      padding: 15vh 20px 0 20px;
      font-size: 1em;

      .name {
        margin-top: 10px;

        img {
          width: 150px;
          margin-left: 25px;
        }

      }

    }

    .down-arrow {
      margin-top: 0;
    }

  }

}


/*--[ work & education styling  ]--*/

#work {
  box-shadow: 0 3px 15px rgba(0,0,0,0);
}

.edu-list, .work-list {
  margin-bottom: 40px;

  h2 {
    margin-top: 15px;
  }

  h4 {
    margin-top: 15px;
    font-size: 1em;
  }

  a {
    text-decoration: none;

    h3 {
      font-weight: 600;
      color: #212529 !important;
    }

  }

  a:active, a:hover {
    text-decoration: underline;
    text-decoration-color: #212529;
  }

  .col {
    flex: 1 1 320px;
  }

  .duration {
    font-size: 0.8em;
    color: #d05;
    font-style: italic;
  }

  .details {
    font-size: 0.9em;
    padding-top: 10px;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      line-height: 1.4em;

      li:before {
        content: "- ";
      }

    }

  }

  img {
    width: 250px;
  }

}

.file-download {
  height: 18px;
  width: 18px;
  margin-left: 5px;
}


/*--[ skills styling  ]--*/

.skills-list {
  flex-wrap: wrap;

  h4 {
    margin-bottom: 20px;
  }

  div {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-breakpoint) {
    .skill-col {
      flex-basis: 50%;
    }
  }

  ul {
    padding: 0;
    list-style: none;
    font-size: 0.9em;

    li {
      margin-bottom: 5px;
    }
  }

}

.dotted {
  border-bottom: 1px dotted #999;
  text-decoration: none;
}


/*--[ contact form styling  ]--*/

#contact-form {

  .form-field {
    margin-bottom: 20px;
  }

  .trumbowyg-box {
    margin: 0 auto !important;
  }

  button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
  }

  #submit-button {
    height: 38px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 0.25rem;
    width: 100%;
    max-width: 302px;

    &:disabled {
      background-color: #c2c3c5;
      border-color: #c2c3c5;
    }
  }

  #form-errors {
    line-height: 38px;
    font-size: 0.9em;
    color: #C90610;
  }

  .captcha {
    margin: 20px 0;
  }

}

/*--[ footer styling  ]--*/

#footer {
  margin: 20px 0 0 0;
  width: 100%;

  img {
    width: 100%;
    margin-bottom: -4px;
  }

}
