$mobile-breakpoint: 768px;

/* Override bootstrap container cutoffs */
@media (min-width: 992px) {
  .container{
    max-width: 800px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .container{
    padding: 0;
  }
}

@media (min-width: $mobile-breakpoint) {
  .container{
    max-width: 800px;
  }
}

.container {
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
}

.form-row {
  margin-right: -5px;
  margin-left: -25px;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0 10px;
  line-height: 2.5em;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
}

.form-field {
  padding: 0 10px;
  margin: 0 15px;

  input {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    outline: none;
    border: 1px solid #ced4da;
  }
   
  input:focus {
    border: 1px solid rgba(0,0,0,0.5);
  }
}

.form-textarea {
  padding-right: 5px;
  padding-left: 25px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}