//TODO: Give section headers class names, full width footer pic

/* variables */
$standard-cutoff: 768px;
$cover-url: url('../img/colombia_cover.jpg');
$logo-width: 200px;

/* navigation styling */
.navbar {
  background: rgba(255,255,255,0.8);
  z-index: 1000;

  .navbar-brand {
    text-align: center;
    font-size: 0.9em;
    font-weight: 600;
    line-height: 1em;
    color: #ff1f4f;
    padding: 0 !important;
  }

  .nav-icons {
    font-size: 1.5em;

    .nav-link {
      margin: 0 !important;
      padding: 0 10px !important;
    }
  }
}

/* cover styling */
@media (max-width: $standard-cutoff) {
  .cover {
    background-image: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.6)
    ), $cover-url !important;

  }
}

.cover {
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;

  background-image: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0),
                  rgba(0, 0, 0, 0.4)
  ), $cover-url;

  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  .cover-fill {
    height: 100%;
    width: 100%;

    background-color: #fff;

    animation-name: fadeOut;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* section styling */
.generic-section {
  background: #fff;
  padding: 20px;

  h1 {
    font-size: 2em;
    font-weight: 200;
  }
}

/* about styling */
@media (max-width: $standard-cutoff) {

  #about {

    .about-content {
      padding-top: 20vh !important;
      font-size: 1.1em !important;
    }

    .down-arrow {
      margin-top: 0 !important;
    }
  }
}

#about {
  position: relative;
  height: 100vh;
  margin-bottom: 40px;

  .about-content {
    color: #fff;
    font-size: 1.2em;
    text-align: justify;
    padding-top: 50vh;
  }

  .down-arrow {
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 2em;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/* work & education styling */
#work {
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}

.edu-list, .work-list {

  img {
    width: 250px;
  }

  div {
    margin-bottom: 40px;
    font-size: 0.9em;
  }

  em {
    color: #d05;
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
  }
}

/* skills styling */
.skills-list {

  div {
    margin-bottom: 20px;
  }

  ul {
    padding: 0;
    list-style: none;
    font-size: 0.9em;
  }

  h4 {
    font-size: 0.8em;
    line-height: 24px;
    margin-bottom: 20px;
    color: #5f5f5f;
    font-style: italic;
  }
}

.dotted {
  border-bottom: 1px dotted #999;
  text-decoration: none;
}

/* contact form styling */
#contact-form {
  .row {
    margin-bottom: 20px;
  }
}

/* footer styling */
#footer {
  margin: 20px 0 0 0;

  img {
    width: 100%;
  }
}
