/*--[ variables  ]--*/

$standard-cutoff: 768px;
$cover-url: url('../img/colombia_cover.jpg');
$footer-url: url('../img/tatra_footer.jpg');
$logo-width: 200px;


/*--[ fonts & text styling ]--*/

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5b {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 1.8em;
  font-weight: 200;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

h3 {
  font-size: 0.9em;
  margin-bottom: 5px;
}

h4 {
  font-size: 0.8em;
  line-height: 24px;
  color: #5f5f5f;
  font-style: italic;
}


/*--[ navigation styling  ]--*/

.navbar {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: rgba(255,255,255,0.8);
  z-index: 1000;

  .navbar-brand {
    text-align: center;
    font-size: 1.1em;
    line-height: 1em;
    color: #f76767;
    padding: 0;
    cursor: default;
  }

  .nav-icons {
    font-size: 1.5em;

    .nav-link {
      margin: 0;
      padding: 0 10px;
      color: #d5cfb5;
    }

  }

}


/*--[ cover styling  ]--*/

.cover {
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;

  background-image: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0.2),
                  rgba(0, 0, 0, 0.4)
  ), $cover-url;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  .cover-fill {
    height: 100%;
    width: 100%;

    background-color: #fff;

    animation-name: fadeOut;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @media (max-width: $standard-cutoff) {
    background-image: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0.4),
                    rgba(0, 0, 0, 0.4)
    ), $cover-url;
  }

}


@keyframes fadeOut {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}


/*--[ section styling  ]--*/

.generic-section {
  background: #fff;
  padding: 20px;

}


/*--[ about styling  ]--*/

#about {
  position: relative;
  height: 100vh;
  margin-bottom: 40px;

  .about-content {
    color: #fff;
    font-size: 1.2em;
    text-align: justify;
    padding: 30vh 100px 0 100px;

    .hello {
      display: inline-block;
      margin-bottom: 25px;

      img {
        width: 100px;
        margin-left: -10px;
      }

    }

    .name {
      display: inline-block;
      margin-top: 25px;

      img {
        width: 150px;
        margin-left: 50px;
      }

    }

  }

  .down-arrow {
    text-align: center;
    width: 100%;
    font-size: 2em;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 0;

    .fa-angle-double-down {
      color: #fff !important;
    }

  }

  @media (max-width: $standard-cutoff) {

    .about-content {
      padding: 15vh 20px 0 20px;
      font-size: 1em;

      .name {
        margin-top: 10px;

        img {
          width: 150px;
          margin-left: 25px;
        }

      }

    }

    .down-arrow {
      margin-top: 0;
    }

  }

}


/*--[ work & education styling  ]--*/

#work {
  box-shadow: 0 3px 15px rgba(0,0,0,0);
}

.edu-list, .work-list {
  margin-bottom: 40px;

  h2 {
    margin-top: 15px;
  }

  h4 {
    margin-top: 15px;
    font-size: 1em;
  }

  .duration {
    font-size: 0.8em;
    color: #d05;
    font-style: italic;
  }

  .details {
    font-size: 0.9em;
    padding-top: 15px;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li:before {
        content: "- ";
      }

    }

  }

  img {
    width: 250px;
  }

}


/*--[ skills styling  ]--*/

.skills-list {

  h4 {
    margin-bottom: 20px;
  }

  div {
    margin-bottom: 20px;
  }

  ul {
    padding: 0;
    list-style: none;
    font-size: 0.9em;
  }

}

.dotted {
  border-bottom: 1px dotted #999;
  text-decoration: none;
}


/*--[ contact form & modal styling  ]--*/

#contact-form {

  .form-field {
    margin-bottom: 20px;
  }

  .trumbowyg-box {
    margin: 0 auto !important;
  }

  #submit-button {
    margin-top: 20px;
  }

}

#contact-modal {

  .contact-modal-dialog {
    max-width: 400px;
  }

  #contact-modal-body {
    padding-top: 20px;
  }

}


/*--[ footer styling  ]--*/

#footer {
  margin: 20px 0 0 0;
  width: 100%;

  img {
    width: 100%;
  }
}
