<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <title>Damien Allen</title>

    <link rel="stylesheet" href="/static/css/uikit.min.css" />
    <script src="/static/js/jquery-2.2.3.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>

</head>
<body>

    <main>

        <section id="home">

        </section>

        <section id="statement">

        </section>

        <section id="work">

        </section>

        <section id="education">

        </section>

        <section id="skills">

        </section>

        <section id="contact">

        </section>


    </main>

</body>
</html>