name: main

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Github Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build SWS image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ghcr.io/damienallen/website:main
          cache-from: type=registry,ref=ghcr.io/damienallen/website:main
          cache-to: type=inline
